@font-face {
    font-family: "Sahel-Bold";
    src: url("../webfonts/Sahel-Bold.ttf") format(truetype);

    font-family: "IRANSansWeb";
    src: url("../webfonts/IRANSansWeb.ttf") format(truetype);
}
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}
body{
    background-color: rgb(0, 0, 32);
    font-family:  "IRANSansWeb";
}
header{
    background-color: rgb(52, 0, 121);
    color: aliceblue;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    box-shadow: 0px 0px 20px rgb(52, 0, 121);
}
header img{
    width: 160px;
    margin-right: -25px;
}
.flex--y1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title--main{
    
    color: aliceblue;
    margin-top: 1rem ;
    font-family: "IRANSansWeb" ;
    font-weight: 700;
    border-bottom: 0.134rem solid #ffffffee;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 2px;
}
.line{
    border-top: 1px solid #cacaca8a;
    display: block;
    margin-top: -2px ;
}
.container{
    width: 94%;
    margin: 0 auto;
}
.boxs{
    margin-top: 3rem;
}
.boxs .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid  #4c00a39c ;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.boxs .box .logo{
    width: 140px;
    border-radius: 100%;
    border: 2px solid #4c00a3;
    box-shadow: 0px 0px 50px  #4c00a39c;
}
.robikid , .phone{
    display: flex block;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 3rem;
    font-family: "Sahel-Bold";
    background-color: rgba(0, 211, 63, 0.973);
    border-radius: 10px;
    margin-top: 1rem;
}
.phone{
    background-color: rgba(0, 98, 211, 0.973);
}
.robikid img ,.phone svg{
    width: 20px;
    color: #fff;
}
.robikid span  , .phone span{
    color: #fff;
    font-family: inherit;
    font-size: 1.4rem;
}
.boxs .box h4{
    font-size: 2.2rem;
    color: #fff;
    margin-top: 0.5rem;
}
.boxs .box p{
    color: rgb(197, 197, 197);
}
.boxs .box span{
    color: #fff;
    font-weight: 700;
    
}








@media (max-width : 380px){
    header{
        font-size: 0.9rem;
    }
    header img{
        width: 100px;
    }
    .boxs .box .logo{
        width: 120px;
    }
    .robikid img ,.phone svg{
        width: 16px;
        color: #fff;
    }
    .robikid span  , .phone span{

        font-size: 1.1rem;
    }
    .boxs .box h4{
        font-size: 1.8rem;
    }
    .boxs .box p{

        font-size: 0.8rem;
    }
    .boxs .box span{

        font-size: 0.9rem;
    }
}